body {
  background-color: #EAF6F6;
  font-size: 14px;
  letter-spacing: -.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #66BFBF;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

h3 {
  color: #66BFBF;
  line-height: 1.05;
  font-weight: 700;
  letter-spacing: -.015em;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}

a:link { color: grey; }          /* Unvisited links */
a:visited { color: grey; }     /* Visited links */
a:hover { background: wheat; }  /* Hovered links */
